.navication {
    background-image: url(../img/contact/backcontact.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    position: relative;
}

.navication .discreption {
    color: white;
    font-family: var(--fontNav);
    display: flex;
    margin-top: 10%;

    gap: 20px;
}

.navication .discreption h1 {
    font-size: 120px;
    font-weight: 700;
}

.navication .discreption p {
    font-size: 30px;
    font-weight: 400;
}

.navication .discreption .col-6 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.navication .opentime{
    width: 100%;
    color: white;
    .dotted-line{
        border: 1x dotted white;
    }
    .dott{
        padding: 20px 0;
        border-top: 2px dotted white;
        display: flex;
        gap: 50px;
    }
    .openabs{
        right: 120px;
        bottom: 120px;
    }
    
}
@media (max-width:1200px) {
    .navication .opentime{
        
        .openabs{
            right: 60px;
            bottom: 60px;
        }
        
    }
    
}
@media (max-width:576px) {
    .navication .opentime{
        
        .openabs{
            padding: 0 15px;
            right: 0px;
            bottom: 0px;
        }
        
    }
    
}
@media (max-width:576px) {
    .navication .discreption h1 {
        font-size: 60px;
        font-weight: 600;
    }

    .navication .discreption p {
        font-size: 20px;
        font-weight: 300;
    }
}
.contact-info {
    padding-left: 80px;
    font-size: 25px;
    text-align: start;
    color: #333;
  }
  .contact-info a {
    
    color: #9ab600;
    text-decoration: none;
  }
  .btn-outline-dark {
    border-radius: 0;
  }
  .sections {
    padding-top:150px;
    .orango{
        top: 30px;
        width: 20%;
        left: 42%;
    }
  }
  .section{
    padding-top: 70px;
    padding-bottom: 120px;
  }
  
  .lemon-graphic {
    position: absolute;
    top: 10px;
    right: 20%;
    z-index: 0;
    opacity: 0.1;
  }
  .img-section img {
    max-width: 100%;
    border-radius: 0;
  }
  @media (max-width:470px) {
    .contact-info {
        padding-left: 30px;
        font-size: 18px;
        text-align: start;
        color: #333;
      }
  }
  @media (max-width:768px) {
    .section{
        img-section{
            order: 1;
        }
        .contact-info{
            order: 2;
            padding-top: 20px;
        }
    }
    .sections {
        .orango{
            display: none;
        }
      }
    
  }
.Make-Reservation{
    padding: 120px 0;
    background-color: #EBF0E4;
    .form-control{
        border-radius: 0;
        border: 1px solid var(--mainColor);
    }
    
    .form-select{
        border-radius: 0;
        border: 1px solid var(--mainColor);
    }
    .btn-book{
        margin-top: 20px;
        background-color:var(--subColor);
        color: white;
        border-radius: 0;
        border: 2 solid none;
        padding: 5px 20px;
    }
    h1{
        text-align: center;
        font-size: 80px;
    }
    p{
        font-size: 20px;
        text-align: center;
    }
    .gapmake{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width:768px) {
    .Make-Reservation{
        h1{
            
            font-size: 60px;
        }
        p{
            font-size: 18px;
            
        }
    }
  }
  .footer {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #1e2a04;
    color: #fff;
    .social-icons{
        display: flex;
        gap: 15px;
        a{
            width: 20px;
            height: 20px;
        }
    }
    h2{
        font-size: 60px;
    }
    .subsi{
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
    .loccon{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .foter{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
  .reservation-section{
    padding: 120px 0;
    background-color:#f4f7ef ;
    h2{
        font-size: 65px;
        color: #000;
        font-weight: 700;
    }
    .formres{
        background-color: transparent;
    }
    button{
        background-color: var(--mainColor);
        color: white;
    }
    .inforest{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .bubook{
        padding: 50px 0;
    }
  }
  .footer input {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0;
  }
  .dotted-line{
    border-top: 2px dotted white;
  }
  .footer input::placeholder {
    color: #ccc;
  }
  
  .footer .btn {
    background-color: #5E6600;
    border-radius: 0;
  }
  
  .footer .social-icons a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
  
  .footer .social-icons a:hover {
    color: var(--mainColor);
  }
  @media (max-width: 576px) {
    .footer h2 {
      font-size: 24px;
    }
    .footer .row > div {
      margin-bottom: 20px;
    }
    .footer form {
      flex-direction: column;
    }
    .footer input,
    .footer .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  @media (max-width:768px) {
    .footer{
        .foter{
           
            align-items: center;
            justify-content: center;
        }
        .loccon{
            align-items: center;
        }
        .headfood{
           text-align: center;
        }
    }
  }