.navication {
    background-image: url(../img/menu/firstbackground.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.navication .discreption {
    color: white;
    font-family: var(--fontNav);
    display: flex;
    margin-top: 10%;

    gap: 20px;
}

.navication .discreption h1 {
    font-size: 120px;
    font-weight: 700;
}

.navication .discreption p {
    font-size: 30px;
    font-weight: 400;
}

.navication .discreption .col-6 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width:576px) {
    .navication .discreption h1 {
        font-size: 60px;
        font-weight: 600;
    }

    .navication .discreption p {
        font-size: 20px;
        font-weight: 300;
    }
}

.starters {
    padding: 150px 0;
    align-items: center;

}

.starters {
    .menuitems {
        padding-left: 60px;
    }

    text-align: center;

    h1 {
        font-weight: 600;
        font-size: 90px;
    }

    .blubery {
        top: 0;
        right: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .menu-item {
        .menu-price {
            text-align: end;
            font-size: 30px;

            h5 {
                font-family: var(--fontNav);

            }
        }

        h4 {
            text-align: start;
            font-size: 50px;
            font-weight: 400;
        }

        p {
            text-align: start;
        }


        .menudis {
            border-top: 6px dotted black;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        height: calc(100% / 3);

    }
}
@media (max-width:992px) {
    .starters {
        .menu-item{
            padding-top: 60px;
        }
       
    }
}
@media (max-width:768px) {

    .starters {

        .blubery {
            display: none;
        }
        h1 {
            font-weight: 500;
            font-size: 70px;
        }
    }
}
/*hhhhhhhhhh*/
.Mains {
    padding: 150px 0;
    align-items: center;

}

.Mains {
    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .menuitems{
        padding-right: 60px;
    }

text-align: center;
    h1 {
        font-weight: 600;
        font-size: 90px;
    }
    .menu-item {
        .menu-price {
            text-align: end;
            font-size: 30px;

            h5 {
                font-family: var(--fontNav);

            }
        }

        h4 {
            text-align: start;
            font-size: 50px;
            font-weight: 400;
        }

        p {
            text-align: start;
        }
        .menudis {
            border-top: 6px dotted black;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
        }
        height: calc(100% / 3);
}
}
@media (max-width:992px) {
    .Mains {
        .menu-item{
            padding-top: 60px;
        }
       .upp{
        order: 1;
       }
       .menuitems{
        order: 2;
       }
    }
}
@media (max-width:768px) {

    .Mains {
        h1 {
            font-weight: 500;
            font-size: 70px;
        }
    }
}


.footer {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #1e2a04;
    color: #fff;
    .social-icons{
        display: flex;
        gap: 15px;
        a{
            width: 20px;
            height: 20px;
        }
    }
    h2{
        font-size: 60px;
    }
    .subsi{
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
    .loccon{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .foter{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
  .reservation-section{
    padding: 120px 0;
    background-color:#f4f7ef ;
    h2{
        font-size: 65px;
        color: #000;
        font-weight: 700;
    }
    .formres{
        background-color: transparent;
    }
    button{
        background-color: var(--mainColor);
        color: white;
    }
    .inforest{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .bubook{
        padding: 50px 0;
    }
  }
  .footer input {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0;
  }
  .dotted-line{
    border-top: 2px dotted white;
  }
  .footer input::placeholder {
    color: #ccc;
  }
  
  .footer .btn {
    background-color: #5E6600;
    border-radius: 0;
  }
  
  .footer .social-icons a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
  
  .footer .social-icons a:hover {
    color: var(--mainColor);
  }
  @media (max-width: 576px) {
    .footer h2 {
      font-size: 24px;
    }
    .footer .row > div {
      margin-bottom: 20px;
    }
    .footer form {
      flex-direction: column;
    }
    .footer input,
    .footer .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  @media (max-width:768px) {
    .footer{
        .foter{
           
            align-items: center;
            justify-content: center;
        }
        .loccon{
            align-items: center;
        }
        .headfood{
           text-align: center;
        }
    }
  }